<header>
    {% include "components/navbar.html" %}
    <div class="py-5" id="cover">
        <h1 class="text-white">Find a brand new radius, for you.</h1>
        <div class="pre-box" id="search-box">
            <form class="p-3" method="post" action="/browse_name">
                <div class="row">
                    <div class="col-md">
                        <input type="text" name="query" placeholder="Your location, event name or where to search" id="search-input">
                    </div>
                    <div class="col-md-4">
                        <button id="search-button" class="btn btn-primary" type="submit">Find Events</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>