<div class="container" id="event-text">
  <p>Event .</p>
  <div class="location-container">
    <div class="row">
      <div class="col-6">
        <div class="input-field first-wrap">
          <input id="search" type="text" placeholder="Your location, event name or where to search" />
        </div>
      </div>
      <div class="col-6">
        <div class="box">
          <select>
            <option>All</option>
            <option>The first option</option>
            <option>The second option</option>
            <option>The third option</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>