<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div class="row">
          <div class="col-6" id="left-side-modal">
           
          </div>
          <div class="col-6" id="right-side-modal">
            
                
            
          </div>

        </div>
      </div>      
    </div>
  </div>
</div>