<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div class="row">
          <div class="col-6" id="left-side-modal">
            <div class="container">
              <div class="modal-header"></div>
              <div class="title">Login</div>
              <form id="login-form" methods="post" action="" novalidate="novalidate">
                <div class="form-group">
                  <label for="username" class="control-label">
                    Username
                  </label>
                  <div class="input-field">
                    <input id="username-input" class="form-control" type="text" name="username" value required title="Please, enter your username" placeholder="john.doe@example.com" />
                  </div>
                  <label for="password" class="control-label">                
                    Password
                  </label>
                  <div class="input-field">                    
                    <div class="input-group">                
                      <input id="password-input" class="form-control" type="password" name="password" value required title="Please, enter your password" placeholder="########"/>
                      <span class="input-group˜-btn"><button type="button" class="btn btn-light" id="toggleButton"><i class="fas fa-eye-slash"></i></button></span>
                    </div>                                                                    
                  </div> 
                  <p>
                    <a href="#">Forgot password</a>                  
                  </p>
                  <div class="login-button">
                    <button type="button" class="btn btn-danger">Login</button>
                  </div>
                  <div class="create-account">
                      Doesn’t have an account yet? 
                      <span><a href="#modalRegister" data-toggle="modal" data-dismiss="modal">Create one</a></span>
                  </div>
                </div>
              </form>
            
            </div>
          </div>
          <div class="col-6" id="right-side-modal">
            <div class="container">
              <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="title">
                Connect via
              </div>
              <div class="row">              
                <div class="circle facebook"><i class="fab fa-facebook-f"></i></div>
                
                <div class="circle github"><i class="fab fa-github"></i></div>
              </div>  
            </div>                            
          </div>

        </div>
      </div>      
    </div>
  </div>
</div>