<nav class="navbar navbar-expand-lg navbar-dark py-5" id="main-navigation">
    <a href="{{url_for('index')}}" class="navbar-brand">
        <img src="{{url_for('static', filename='images/Logo.png')}}" width="30" height="30" class="d-inline-block align-top"
            alt="">
        Radii
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav mr-auto">
        </div>
        <ul class="navbar-nav">
            <li class="px-3 nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="px-3 nav-item">
                <a class="nav-link" href="{{url_for('event')}}">Browse</a>
            </li>
            <li class="px-3 nav-item">
                <a class="nav-link" href="#">Explore</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="px-3 nav-item" id="login-button" data-toggle="modal" data-target="#modalLogin">
                <a class="nav-link">Login</a>
            </li>
            {% else %}
            <li class="px-3 nav-item" class="log-button">
                <form method="post" action="/logout">
                    <button class="nav-link log-button" type="submit">Logout</button>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% include "components/login.html" %}
{% include "components/register.html" %}