<nav aria-label="Page navigation" id="pagination">
  <ul class="pagination justify-content-center">    
    <div class="content previous">
      <a href="#" aria-label="">
        <li class="circle previous shadow">
          <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
        </li>
      </a>
    </div>
    <li class="page-current shadow active"><p class="text-center">1</p></li>
    <div class="content previous">
      <a href="#" aria-label="Next">
        <li class="circle next shadow">
          <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>  
        </li>      
      </a>
    </div>
    
  </ul>
</nav>