<div class="card text-center shadow-lg">
  {% if user.image_url_user %}
  <img src="{{ user.image_url_user }}" alt="Avatar" class="avatar shadow">
  {% else %}
  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar shadow">
  {% endif %}
  <div class="card-body">
    <p class="card-title">{{ user.username }}</p>
    <div class="row">
      <div class="user-info">
        <span class="number">{{ attended_len }}</span>
        <br>
        <span class="info attended">Attended</span>
      </div>
      <div class="user-info">
        <span class="number">{{ interested_len }}</span>
        <br>
        <span class="info interested">Interested</span>
      </div>
      <div class="user-info">
        <span class="number">{{ attending_len }}</span>
        <br>
        <span class="info attended">Attending</span>
        
      </div>
    </div>
    <button type="button" class="logout shadow">LOG OUT</button>
  </div>
</div>