<div class="card text-center shadow-lg">
  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar shadow">
  <div class="card-body">
    <p class="card-title">jsmite777</p>
    <div class="row">
      <div class="user-info">
        <span class="number">13</span>
        <br>
        <span class="info attended">Attended</span>
      </div>
      <div class="user-info">
        <span class="number">26</span>
        <br>
        <span class="info interested">Interested</span>
      </div>
      <div class="user-info">
        <span class="number">33</span>
        <br>
        <span class="info attended">Attending</span>
      </div>
    </div>
    <button type="button" class="logout shadow">LOG OUT</button>
  </div>
</div>