# Editor settings
.vscode/

# Python Generated output
.pytest_cache
*.pyc

# Virtual Environment
venv/

# Generate output
.DS_Store

# Migration directory
migrations/

# Request File
request.http

# CSS Mapping
*.css.map