alembic==1.0.5
Flask==1.0.2
flask-wtf==0.14.2
flask-sqlalchemy==2.3.2
flask-migrate==2.3.1
pytest==4.0.1
sqlalchemy-utils==0.33.9
gunicorn==19.9.0
meinheld==0.6.1
flake8==3.6.0
flask-dance==1.1.0
flask-login==0.4.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
black
Werkzeug==0.14.1
pyOpenSSL==18.0.0
Click==7.0
h5py==2.8.0
implicit==0.3.8
itsdangerous==1.1.0
numpy==1.15.4
pandas==0.23.4
pytz==2018.7
scipy==1.1.0
six==1.11.0
tqdm==4.28.1