alembic==1.0.5
Flask==1.0.2
flask-wtf==0.14.2
flask-sqlalchemy==2.3.2
flask-migrate==2.3.1
pytest==4.0.1
sqlalchemy-utils==0.33.9
gunicorn==19.9.0
meinheld==0.6.1
flake8==3.6.0
flask-dance==1.2.0
flask-login==0.4.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
Werkzeug==0.14.1
pyOpenSSL==18.0.0
