header {
    background: linear-gradient(hsla(186, 39, 70, 0.6), hsla(186, 39, 70, 0.6)), url('/static/images/cover.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    height: 100%;
    box-shadow: 5px 10px 20px hsla(0, 0, 0, 0.16);
}

#cover {
    padding: 0 8rem;
    margin: 5rem 0;
}

#search-box {
    margin: 2rem 0;
    width: 70%;
    background: white;
}

#search-input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: .8rem;
}

#search-button {
    width: 100%;
    height: 100%;
    border-radius: 0;
}