#event {
  background: linear-gradient(rgba(149, 202, 208, 0.6), rgba(149, 202, 208, 0.6)), url(/static/images/cover.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 90px;
  margin-top: 100px;
  a {
    color: #2E3F5A;
  }
}

.services{
  padding: 25px;
  padding-bottom: 10px;
  display: block;
  background: #fff;
  margin-bottom: 15px;

  @media screen and (max-width: 600px){
    margin-top: 0;	
    margin-bottom: 10px;
  }

  @media screen and (max-width: 480px){
    margin-top: 0;
    margin-bottom: 20px;
    }

  span{
    width: 100%;
    display: block;
    margin-bottom: 7px;
    img{
      height: 180px;
      width: 100%;
      margin: 0 auto;
      margin-top: -45px;
    }
  }
  h4{
    font-size: 16px;
    font-weight: 500;
    height: 39px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    &:after{
      bottom: -10px;
      left: 0;
      right: 0;
      width: 40px;
      height: 2px;
      margin: 0 auto;
      background: black;
      content: '';
    }
  }
}

.event-title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 7px;
}

.detail{
  font-size: 12px;
  text-align: left;
  overflow: hidden;
  padding-bottom: 0%;
  height: 19px;
  position: relative;
  overflow: hidden;
}


#footer {
  background-color: #013B59;
  left: 0;
  height: 200px;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 90px;
  p {
    color: #fff;
    font-size: 30px;
  }
}

#event-container {
  padding-right: 0px;
  padding-left: 0px;
  p {
    color: #f8042c;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
  }
  .location-container {
    background: #fff;
    padding: 30px 50px;

  }

  .input-field input{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    
  }
  input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
  }
  .box {
    display: block;
    width: 100%;
    height: 100%;
    padding: 13.2px;
    position: inherit;    
    background: white;
    border-radius: 0px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .box:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f078";
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: #f8042c;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    pointer-events: none;
  }
  .box:hover::before {
    background: #bd001f;
  }
 
}

#pagination {
  margin:auto;
  margin-top: 50px;  

  .circle {
    width: 45px;
    height: 45px;
    background: white;  
    margin-top: 5px;  
    border-radius: 50%;        
    padding-top: 14%;        
    text-align: center;    

  }
  
  .circle:hover {
    background:  rgb(194, 194, 194);   
    span{
      font-size: 25px;   
      background: rgb(194, 194, 194);   
    }
  }

  span {
    background: white;
    color: #2E3F5A;
    font-size: 20px;
  }
 .box:before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f078";
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #f8042c;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
  pointer-events: none;
 }

  .page-current {
    width: 55px;
    height: 55px;
    padding-top: 10px;
    font-size: 22px;
    color: white;
    background: #E13038;    
    margin-left: 15px;
    margin-right: 15px;
 
  }
}
