#event {
  background: linear-gradient(rgba(149, 202, 208, 0.6), rgba(149, 202, 208, 0.6)), url(/static/images/cover.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 90px;
  margin-top: 100px;
}

.services{
  padding: 25px;
  padding-bottom: 0px;
  display: block;
  background: #fff;
  margin-bottom: 15px;
-webkit-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
-ms-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
-o-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
  box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);

@media screen and (max-width: 600px){
  margin-top: 0;	
  margin-bottom: 10px;
}

@media screen and (max-width: 480px){
  margin-top: 0;
  margin-bottom: 20px;
  }

span{
  width: 100%;
  display: block;
  margin-bottom: 7px;
  img{
          width: 100%;
          margin: 0 auto;
          margin-top: -45px;
  }
}
h4{
  font-size: 16px;
      font-weight: 500;
      height: 39px;
      position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  &:after{
    bottom: -10px;
    left: 0;
    right: 0;
    width: 40px;
    height: 2px;
    margin: 0 auto;
    background: black;
    content: '';
  }
}
}

.event-title {
  text-align: left;
margin-top: 20px;
margin-bottom: 7px;
}

.event-location {
  font-size: 12px;
  text-align: left;
  overflow: hidden;
padding-bottom: 0%;
height: 19px;
position: relative;
overflow: hidden;
}

.event-date {
  font-size: 12px;
  text-align: left;
  overflow: hidden;
padding-bottom: 0%;
margin-bottom: 10px;
}

#fh5co-logo {
  margin: 0;
  padding: 0;
}

.fh5co-nav {
  background-color:  #5cacb4;
.top-menu{
  padding: 25px 0;
}

a {
  padding: 5px 10px;
  color:  #5cacb4;
}
.menu-1 {
  @media screen and (max-width: 600 ) {
    display: none;
  }   
}
ul {
  padding: 0;
  margin: 5px 0 0 0;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    a {
              font-size: 15px;
              font-weight: 700;
      padding: 30px 15px;
              color: white;
              margin: 5px;
      &:hover,&:focus, &:active {
        color: white;
      }
    }
    &.has-dropdown {
      position: relative;
      .dropdown {
        width: 140px;
        -webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
        box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
        z-index: 1002;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: 0;
        text-align: left;
        background: black;
        padding: 20px;
        &:before {
          bottom: 100%;
          left: 40px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #000;
          border-width: 8px;
          margin-left: -8px;
        }
        
        li {
          display: block;
          margin-bottom: 7px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            padding: 2px 0;
            display: block;
            color: lighten(black, 60%);
            line-height: 1.2;
            text-transform: none;
            font-size: 13px;
            letter-spacing: 0;
            &:hover {
              color: white;
            }
          }
        }
      }
      &:hover, &:focus {
        a {
          color: black;
        }
      
      }
    }
    &.btn-cta {
      a {
        padding: 30px 0px !important;
        color: white;
        span {
          background: #013B59;
          padding: 10px 20px;
                      border-radius: 100px;
        }
        &:hover {
          span {
            -webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
            box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
          }
        }
      }
    }
    &.active {
      > a {
        color: white!important;
        position: relative;
        &:after{
          position: absolute;
          bottom: 25px;
          left: 15px;
          content: '';
          width: 20px;
          height: 2px;
          background: white;
          margin: 0 auto;
        }
      }
    }
  }
}
}

#footer {
background-color: #013B59;
padding: 2em 0 6em 0;
margin-top: 90px;
text-align: center;

p {
  color: #fff;
  font-size: 30px;
}
}

#event-text {
padding-right: 0px;
  padding-left: 0px;
p {
  color: #f8042c;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
}
.location-container {
  background: #fff;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
  -ms-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
  -o-box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
  box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.43);
}

.input-field input{
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  
}
input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}

 .box {
   position: inherit;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .box select {
  background: white;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-appearance: button;
  outline: None;
  border-radius: 0px;
  border: 1px solid #ccc;
 }

.option {
  color: #ccc;
}

 .box:before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f078";
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #f8042c;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
  pointer-events: none;
 }

 .box:hover::before {
   background: #bd001f;
 }
 
 
}