@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
#login-button {
  background: #2E3F5A;
  color: white;
  border-radius: 40px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media (min-width: 768px) {
  #main-navigation {
    padding: 0 8rem;
  }
}
header {
  background: linear-gradient(rgba(149, 202, 208, 0.6), rgba(149, 202, 208, 0.6)), url("/static/images/cover.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
  height: 100%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}

#cover {
  text-align: center;
}

#search-box {
  margin: 2rem auto;
  width: 80%;
  background: white;
}

#search-input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 0.8rem;
}

#search-button {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

@media (min-width: 768px) {
  #cover {
    text-align: left;
    padding: 0 8rem;
    margin: 5rem 0;
  }

  #search-box {
    margin: 2rem 0;
  }
}
#event {
  background: linear-gradient(rgba(149, 202, 208, 0.6), rgba(149, 202, 208, 0.6)), url(/static/images/cover.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 90px;
  margin-top: 100px;
}

.services {
  padding: 25px;
  padding-bottom: 10px;
  display: block;
  background: #fff;
  margin-bottom: 15px;
}
@media screen and (max-width: 600px) {
  .services {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .services {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.services span {
  width: 100%;
  display: block;
  margin-bottom: 7px;
}
.services span img {
  width: 100%;
  margin: 0 auto;
  margin-top: -45px;
}
.services h4 {
  font-size: 16px;
  font-weight: 500;
  height: 39px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
}
.services h4:after {
  bottom: -10px;
  left: 0;
  right: 0;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  background: black;
  content: "";
}

.event-title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 7px;
}

.detail {
  font-size: 12px;
  text-align: left;
  overflow: hidden;
  padding-bottom: 0%;
  height: 19px;
  position: relative;
  overflow: hidden;
}

#footer {
  background-color: #013B59;
  left: 0;
  height: 200px;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#footer p {
  color: #fff;
  font-size: 30px;
}

#event-container {
  padding-right: 0px;
  padding-left: 0px;
}
#event-container p {
  color: #f8042c;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
}
#event-container .location-container {
  background: #fff;
  padding: 30px 50px;
}
#event-container .input-field input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
#event-container input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}
#event-container .box {
  display: block;
  width: 100%;
  height: 100%;
  padding: 13.2px;
  position: inherit;
  background: white;
  border-radius: 0px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#event-container .box:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #f8042c;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  pointer-events: none;
}
#event-container .box:hover::before {
  background: #bd001f;
}

#pagination {
  margin: auto;
  margin-top: 50px;
}
#pagination .circle {
  width: 45px;
  height: 45px;
  background: white;
  margin-top: 5px;
  border-radius: 50%;
  padding-top: 14%;
  text-align: center;
}
#pagination .circle:hover {
  background: #c2c2c2;
}
#pagination .circle:hover span {
  font-size: 25px;
  background: #c2c2c2;
}
#pagination span {
  background: white;
  color: #2E3F5A;
  font-size: 20px;
}
#pagination .box:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #f8042c;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
  pointer-events: none;
}
#pagination .page-current {
  width: 55px;
  height: 55px;
  padding-top: 10px;
  font-size: 22px;
  color: white;
  background: #E13038;
  margin-left: 15px;
  margin-right: 15px;
}

.modal-backdrop {
  background-color: #83CFD8aa;
}

.modal-body {
  padding: 0px;
}
.modal-body .row {
  margin: 0;
}

.modal-header {
  border-bottom: 0;
  margin-bottom: 30px;
  padding-right: 0px;
}

.modal-dialog {
  max-width: 900px;
  margin: 1.75rem auto;
}
.modal-dialog .modal-content {
  border-radius: 0px;
  background-color: transparent;
  border: 0px;
  -webkit-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -ms-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -o-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
}

.title {
  color: #2E3F5A;
  font-weight: 900;
  font-size: 20px;
}

.combo-field-toggle {
  height: 100%;
  width: 40px;
  border-radius: 0px;
  background-color: #fff;
  border-color: #ccc;
}

#left-side-modal {
  background-color: white;
  box-shadow: 13px 10px 23px -10px rgba(0, 0, 0, 0.43);
}
@media screen and (min-width: 576px) {
  #left-side-modal .container {
    max-width: 100%;
  }
}
#left-side-modal .modal-header {
  padding: 28px;
}
#left-side-modal input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}
#left-side-modal p {
  float: right;
  font-size: 11px;
  color: #E13038;
  text-decoration: underline;
  margin: 15px auto;
}
#left-side-modal .login-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
}
#left-side-modal .register-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#left-side-modal .create-account {
  font-size: 11px;
  margin: 50px auto;
}
#left-side-modal .create-account span {
  font-size: 11px;
  color: #E13038;
  text-decoration: underline;
}
#left-side-modal .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.3px solid #707070;
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#left-side-modal .fab {
  font-size: 20px;
}
#left-side-modal .fa-github {
  color: white;
  font-size: 30px;
}
#left-side-modal .gap {
  padding: 8px;
}

label {
  color: #2E3F5A;
  font-weight: lighter;
  margin-top: 12px;
}

#right-side-modal {
  background: rgba(255, 255, 255, 0.76);
  min-height: 400px;
}
#right-side-modal .row {
  display: flex;
  justify-content: center;
}
#right-side-modal .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0.3px solid #707070;
  margin: 10px;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#right-side-modal .fab {
  font-size: 40px;
}
#right-side-modal .fa-github {
  color: white;
  font-size: 50px;
}

.facebook {
  background: #3B5998;
}

.github {
  background: black;
}

.fa-facebook-f {
  color: white;
}

.event-descript {
  margin-bottom: 60px;
}

.blog-img-container {
  margin-bottom: -50px;
  z-index: -1;
  padding-bottom: 70px;
  background: rgba(0, 0, 0, 0.15);
}
.blog-img-container .img-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.blog-body {
  overflow-wrap: break-word;
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
}
.blog-body .name-event {
  color: #2E3F5A;
  font-size: 35px;
  font-weight: 500;
}
.blog-body .date-event {
  font-size: 14px;
}

.location-info {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 27px;
  margin-top: 40px;
  font-size: 14px;
  padding-left: 25px;
}
.location-info .icon-location {
  margin-right: 5px;
}
.location-info a {
  color: #000000;
  font-size: 15px;
}

.description-show {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.description-show p {
  color: #2E3F5A;
  text-align: left;
  font-size: 18px;
}

.double-border {
  background: #ffffff;
  border: 1px solid #2c3e50;
  padding: 2em;
  width: 70%;
  position: relative;
  margin: 0 auto;
}

.double-border:before {
  border: 1px solid #bdc3c7;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  pointer-events: none;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #EAEAEA;
}

.container-fluid {
  padding: 0px;
  height: 100%;
}

.pre-box {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}

.btn.btn-primary {
  min-width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -ms-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -o-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  color: white;
  background-color: #E13038;
}

.input-field input {
  display: block;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  color: #696969;
}

/*# sourceMappingURL=main.css.map */
