@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
#main-navigation {
  padding: 0 8rem;
}

#login-button {
  background: #2E3F5A;
  color: white;
  border-radius: 40px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}


@media (min-width: 768px) {
  #main-navigation {
    padding: 0 8rem;
  }
}

header {
  background: linear-gradient(rgba(149, 202, 208, 0.6), rgba(149, 202, 208, 0.6)), url("/static/images/cover.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
  height: 100%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}

#cover {
  text-align: center;
}

#search-box {
  margin: 2rem auto;
  width: 80%;
  background: white;
}

#search-input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 0.8rem;
}

#search-button {
  width: 100%;
  height: 100%;
  border-radius: 0;
}


@media (min-width: 768px) {
  #cover {
    text-align: left;
    padding: 0 8rem;
    margin: 5rem 0;
  }

  #search-box {
    margin: 2rem 0;
  }
}
html,
body {
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-nav ul li a {
  font-size: 15px;
  font-weight: 700;
  padding: 30px 15px;
  color: white;
  margin: 5px;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 140px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: black;
  padding: 20px;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: white;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: black;
}
.fh5co-nav ul li.btn-cta a {
  padding: 30px 0px !important;
  color: white;
}
.fh5co-nav ul li.btn-cta a span {
  background: #013B59;
  padding: 10px 20px;
  border-radius: 100px;
}
.fh5co-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
.fh5co-nav ul li.active > a {
  color: white !important;
  position: relative;
}
.fh5co-nav ul li.active > a:after {
  position: absolute;
  bottom: 25px;
  left: 15px;
  content: "";
  width: 20px;
  height: 2px;
  background: white;
  margin: 0 auto;
}

#footer {
  background-color: #013B59;
  padding: 2em 0 6em 0;
  margin-top: 90px;
  text-align: center;
}
#footer p {
  color: #fff;
  font-size: 30px;
}

#event-text {
  padding-right: 0px;
  padding-left: 0px;
}
#event-text p {
  color: #f8042c;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
}
#event-text .location-container {
  background: #fff;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -ms-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -o-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
}
#event-text .input-field input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
#event-text input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}
#event-text .box {
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#event-text .box select {
  background: white;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-appearance: button;
  outline: None;
  border-radius: 0px;
  border: 1px solid #ccc;
}
#event-text .option {
  color: #ccc;
}
#event-text .box:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #f8042c;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
  pointer-events: none;
}
#event-text .box:hover::before {
  background: #bd001f;
}

.modal-backdrop {
  background-color: #83CFD8aa;
}

.modal-body {
  padding: 0px;
}
.modal-body .row {
  margin: 0;
}

.modal-header {
  border-bottom: 0;
  margin-bottom: 30px;
  padding-right: 0px;
}

.modal-dialog {
  max-width: 900px;
  margin: 1.75rem auto;
}
.modal-dialog .modal-content {
  border-radius: 0px;
  background-color: transparent;
  border: 0px;
  -webkit-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -ms-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -o-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
}

.title {
  color: #2E3F5A;
  font-weight: 900;
  font-size: 20px;
}

.combo-field-toggle {
  height: 100%;
  width: 40px;
  border-radius: 0px;
  background-color: #fff;
  border-color: #ccc;
}

#left-side-modal {
  background-color: white;
  box-shadow: 13px 10px 23px -10px rgba(0, 0, 0, 0.43);
}
@media screen and (min-width: 576px) {
  #left-side-modal .container {
    max-width: 100%;
  }
}
#left-side-modal .modal-header {
  padding: 28px;
}
#left-side-modal input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}
#left-side-modal p {
  float: right;
  font-size: 11px;
  color: #E13038;
  text-decoration: underline;
  margin: 15px auto;
}
#left-side-modal .login-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
}
#left-side-modal .register-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#left-side-modal .create-account {
  font-size: 11px;
  margin: 50px auto;
}
#left-side-modal .create-account span {
  font-size: 11px;
  color: #E13038;
  text-decoration: underline;
}
#left-side-modal .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.3px solid #707070;
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#left-side-modal .fab {
  font-size: 20px;
}
#left-side-modal .fa-github {
  color: white;
  font-size: 30px;
}
#left-side-modal .gap {
  padding: 8px;
}

label {
  color: #2E3F5A;
  font-weight: lighter;
  margin-top: 12px;
}

#right-side-modal {
  background: rgba(255, 255, 255, 0.76);
  min-height: 400px;
}
#right-side-modal .row {
  display: flex;
  justify-content: center;
}
#right-side-modal .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0.3px solid #707070;
  margin: 10px;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#right-side-modal .fab {
  font-size: 40px;
}
#right-side-modal .fa-github {
  color: white;
  font-size: 50px;
}

.facebook {
  background: #3B5998;
}

.github {
  background: black;
}

.fa-facebook-f {
  color: white;
}

.pre-box {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16);
}

.btn.btn-primary {
  min-width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -ms-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  -o-box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 10px 23px -10px rgba(0, 0, 0, 0.43);
  color: white;
  background-color: #E13038;
}

.input-field input {
  display: block;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  color: #696969;
}

/*# sourceMappingURL=main.css.map */
