{% extends "base.html" %}

{% block wrapper %}

<div id="event">
{% include "components/navbar.html" %}

{% if not current_user.liked(event_info.event_id) %}
<a href="{{ url_for('like', event_id=event.event_id) }}">
  <button class="button button-style button-like">
    <i class="fas fa-thumbs-up"></i>
    <span>{{ len(liked_users) }}</span>
  </button>
</a>
{% elif %}
<a href="{{ url_for('like', event_id=event.event_id) }}">
  <button class="button button-style liked">
    <i class="fas fa-thumbs-up"></i>
    <span>{{ len(liked_users) }}</span>
  </button>
</a>
{% endif %}

{% if not current_user.unattending(event_info.event_id) %}
<a href="{{ url_for('attend', event_id=event.event_id) }}">
  <button class="button button-style button-attend">
    <i class="fas fa-plus-circle"></i>
    <span>{{ len(attended_users) }}</span>
  </button>
</a>
{% elif %}
<a href="{{ url_for('attend', event_id=event.event_id) }}">
  <button class="button button-style attended">
    <i class="fas fa-plus-circle"></i>
    <span>{{ len(attended_users) }}</span>
  </button>
</a>
{% endif %}


<div class="container event-descript">
  
  <div class="blog-img-container"><img src="{{ event_info.image_url }}" alt="" class="img-header"></div>

  <div class="container blog-body text-center">
    <div class="name-event">
      {{ event_info.name }}
    </div>
    <div class="date-event">
      {{ event_info.date_time.strftime("%d %B %Y") }}
    </div>
  </div>
  
  <div class="location-info shadow-lg">     
    <a href="http://maps.google.com/?q=1200 {{ event_info.location }}" title="Search by Google Map" target="_blank">
      <i class="fas fa-map-marker-alt icon-location"></i>
      {{ event_info.location }}            
    </a>
     
  </div>
  
  <div class="description-show">
    <div class="double-border">
      <p>
        {{ event_info.description }}
      </p>
    </div>
  </div>
  
</div>
  
{% include "components/footer.html" %}
</div>

{% endblock wrapper %}
