{% import 'components.html' as components %}

{% extends 'base.html' %}

{% block wrapper %}

{% include "components/cover.html" %}
<div class="container">
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
</div>

{% endblock wrapper %}