{% import 'components.jinja' as components %}
{% extends 'base.html' %}
{% block wrapper %}
{{ components.cover() }}
<div class="container">
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
</div>
{% endblock wrapper %}