<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">        
			<div class="container">
				<div class="row" >
					
          <div class="col-xs-2">
            <div id="fh5co-logo"><img src="/static/images/temporary-logo.png" width="60" height="30"></div>
          </div>
					<div class="col-xs-10 ml-md-auto menu-1">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li class="active"><a href="event.html">Event</a></li>
							<li class="btn-cta"><a href="#"><span>Login</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>